.webuploader-pick{
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

#picker input{
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
}

#picker{
  position: relative;
  display: inline-block;
  line-height: 1.428571429;
  vertical-align: middle;
  left: 50px;
  border-radius: 4px;
}
.webuploader-pick .material-icons{
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
  color: #2f80bc;
}
#picker:hover{
  background-color: #dedede;
}
.mapboxgl-ctrl-top-left{
  display: none;
}

input,select,span,p{
  color:#505050;
  font-family: "Microsoft YaHei" ! important;
}

select{
  border: 1px solid #e0e0e0;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../static/icons/arrow.png") no-repeat scroll right center transparent;
  padding-right: 14px;
}

select::-ms-expand { display: none; }

@font-face{
  font-family:icon;
  src:url(./icon.eot);
  src:url(./icon.eot) format('embedded-opentype'),url(./icon.woff) format('woff');
  font-weight:400;
  font-style:normal
}